# Ignore the Python bytecode cache folder
__pycache__/

# Ignore Django migration files
*.pyc
*.pyo
*.pyd

# Ignore Django's SQLite database file
db.sqlite3

# Ignore media folder (uploads from users)
/media/

# Ignore static files if they are not managed by Django's collectstatic command
/static/

# Ignore virtual environment
venv/
node_modules

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
